*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
/build

/app/google-services.json

# Google & Firebase keys
google-services.json
*.json

# Local config files
local.properties

# Gradle build folders
/app/build

